*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary-color: #08c0dd;
    --bg-secondary-color: #262431;
    --bg-tertiary-color: #2f2c3d;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: var(--bg-secondary-color);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}